[user]
	name = Peter Mallett
	email = pmallett@redhat.com
[core]
	excludesFile = ~/.gitignore
	autocrlf = input
	safecrlf = false
	editor = vim
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit
[push]
	default = simple
[fetch]
	prune = true
[diff]
	algorithm = patience
	renameLimit = 900
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	ff = only
[init]
	defaultBranch = main
[rerere]
	enabled = true
